* {
    margin: 0;
    padding: 0;
    background-image: url(pozadii.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color:black;
    font-family: RobotoCondesed;
  }



a {
    float: left;

}


header{
  
    padding-bottom: 420px;
    margin: 10px 10px 10px 10px;
    
    
}


ul {
    padding-top: 100px;

}


ul li {
    display: inline-block;
    float: left;
      


}

ul li a {
    color: white;
    font-size: 50px;
    margin-top: 50px;
    margin-left: 80px;
    padding: 50px;
    font-weight: bold;
    text-shadow: 0px 0px 5px black;
    
   
}

h1 {
    padding: 80px;
    font-family: Sofia;
    font-size: 60px;
}


article {
    text-align: center;
    font-size: 35px;
    margin-left: 450px;
    padding: 20px;
    height: 600px;
    width: 1000px;
    margin-top: -100px;
   
    
}


h2{
    font-size: 45px;
    text-align: center;
    margin-right: 1200px;
    padding-bottom: 20px;
    font-weight: bold;
    font-family: Sofia;
 }

#duvody {
    
    padding: 30px;
    margin-left: 200px;
    font-size: 20px;
    margin-top: 80px;
    
    
    
}

.big{
    font-size: 30px;
    

}


.ukazka{
    margin-left: 150px;
    height: 650px;
    width: 1610px;
    padding: 0px;
    margin-top: 100px;
    
}


#ukazka1{    
    margin-right: 0px;
    padding: 20px;
    margin-bottom: 35px;
                        
}


#kadernice {
    margin-left: 750px;
    margin-top: -400px;
    border: 10px solid white;
}

.border{
    border: 10px solid white;
    transition: transform .2s; 
    margin: 0 auto;
}



.border:hover {
    transform: scale(1.1); 
}




footer{
    text-align: center;
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin-top: 100px;
    color: grey;
}

.logo:hover{
    opacity:0.5;
    transition: opacity .55s ease-in-out;
}

a:hover {
    color: black;
}

