* {
    margin: 0;
    padding: 0;
    background-image: url(pozadii.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color:black;
    font-family: RobotoCondesed;
  }



.aa {
    float: left;

}


header{
  
    padding-bottom: 420px;
    margin: 10px 10px 10px 10px;
    
    
}


ul {
    padding-top: 200px;

}


ul li {
    display: inline-block;
    float: left;
      


}

ul li a {
    color: white;
    font-size: 50px;
    margin-top: 50px;
    margin-left: 80px;
    padding: 50px;
    font-weight: bold;
    text-shadow: 0px 0px 5px black;
    
   
}

h1 {
    padding: 80px;
    font-family: Sofia;
    font-size: 60px;
}


article {
    text-align: center;
    font-size: 35px;
    margin-left: 300px;
    padding: 20px;
    height: 600px;
    width: 1300px;
    margin-top: -200px;
    
    
}

div{
    
    width: 1880px;
    height: 850px;
    margin-top: 250px;
    text-align: center;

    
}

h2{
    
    font-size: 35px;
    margin-bottom: 70px;
    font-family: Sofia;
}
  
ukazka{
    margin-left: 200px;
    height: 600px;
    width: 1510px;        
}

p{
    width: 550px;
    height: 550px;
    float:left;
    margin-left: 50px;

}

footer{
    text-align: center;
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin-top: 150px;
    color: grey;
}

.border{
    border: 5px solid white;
    transition: transform .2s; 
    margin: 0 auto;
}



.border:hover {
    transform: scale(1.1); 
}


.logo:hover{
    opacity:0.5;
    transition: opacity .55s ease-in-out;
}

a:hover {
    color: black;
}
