body {
    margin: 0;
    padding: 0;
    background-image: url(pozadii.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color:black;
    font-family: RobotoCondesed;
  }



.aaa {
    float: left;

}


header{
  
    padding-bottom: 420px;
    margin: 10px 10px 10px 10px;
    
    
}


ul {
    padding-top: 200px;

}


ul li {
    display: inline-block;
    float: left;
      


}

ul li a {
    color: white;
    font-size: 50px;
    margin-top: 50px;
    margin-left: 80px;
    padding: 50px;
    font-weight: bold;
    text-shadow: 0px 0px 5px black;
    
   
}
#IDU{
    margin-left: 250px;
    font-size: 25px;
    margin-bottom: 100px;
    margin-top: -50px;
    color:black;
    

}
h2{
    margin-bottom: 50px;
    font-size: 25px;
    margin-left: -70px;
    color:black;
}


article {
    font-size: 35px;
    margin-left: 300px;
    padding: 20px;
    height: 600px;
    width: 1300px;
    margin-top: -100px;
    
    
}

h3{
  opacity:0;  

}

footer{
    text-align: center;
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin-top: 100px;
    color: grey;
}

img.resize{
    width:200px;
    height:200px;
    margin-left: -20px;
    padding-top: 100px;
}

img.resize1{
    width:150px;
    height:150px;
    padding-top: 50px;
    

}
#map{
    margin-left: 1100px;
    margin-top: -450px;
    border: 15px solid white;
    width: 600px;
    height: 450px;
    border-radius: 25px;
    
    
 
 }
 
 #ig{
    margin-top: 350px;
    text-align: center;
 
 }
 
 
#propagace{
    font-size: 35px;
}


.logo:hover{
    opacity:0.5;
    transition: opacity .55s ease-in-out;

}

#ig:hover{
    color:purple;    
}

a:hover {
    color: black;
}

.email{
   
    min-height:900px; 
    height:inherit; 
    overflow:auto;
    width: 100%;  
    margin:0;  
    border:none;






}