body{
    margin: 0;
    padding: 0;
    background-image: url(pozadii.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color:black;
    font-family: RobotoCondesed;
    
  }



a {
    float: left;

}


header{
  
    padding-bottom: 420px;
    margin: 10px 10px 10px 10px;
    
    
}


ul {
    padding-top: 100px;

}


ul li {
    display: inline-block;
    float: left;
      


}

ul li a {
    color: white;
    font-size: 50px;
    margin-top: 50px;
    margin-left: 80px;
    padding: 50px;
    font-weight: bold;
    text-shadow: 0px 0px 5px black;
}    
   


h1 {
    margin-top: 55px;
    margin-left :10px;
    font-family: Sofia;
    font-size: 60px;

}


article {
    text-align: center;
    font-size: 25px;
    margin-left: 450px;
    padding: 20px;
    height: 1600px;
    width: 1000px;
    margin-top: -100px;
    margin-bottom: -50px;
      
    
        
}

footer{
    text-align: center;
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin-top: 0px;
    color: grey;
}


div{
    padding: 25px;
    background-color:white;
    border-radius: 25px;
}

h2{
    margin-bottom: 10px;
    font-size: 45px;

}
p{
    margin-top:5px;

}

.logo:hover{
    opacity:0.5;
    transition: opacity .55s ease-in-out;
}

a:hover {
    color: black;
}
